.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-pjNepow6wPZ7);
  position: relative;
  min-width: 0;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 11px);
  height: calc(100% + 11px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 11px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  padding-top: 18px;
  color: var(--token-DbGdjBpQ6R_X);
  text-align: center;
  font-size: 32px;
  padding-bottom: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 24px;
  }
}
.newsletterForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  padding: 8px;
}
.id:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.createdAt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
  margin: 0px;
}
.newsletterEmail:global(.__wab_instance) {
  width: 100%;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  height: 42px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  width: 100%;
  color: var(--token-MQt8PrCmhx0P);
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  height: 40px;
  background: var(--token-Gsg_nXB6YK5A);
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  border-radius: 6px;
  border: 0.5px solid var(--token-F8sx4GPVWjmu);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: stretch;
  margin-right: 4px;
  margin-left: 4px;
  background: var(--token-7HpDdqXawcwS);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  min-width: 0;
}
