.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-bsY-6rGTpghL);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-_xXwNBtNYsLa);
  font-family: var(--token-RB0avXunbFHL);
  font-size: var(--token-reuX_bSbX50d);
  line-height: var(--token-7LDQJf9kmezN);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-MpCEXUmL-CF-);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-3MHic-7UWClU);
  outline-offset: 1px;
  outline-color: var(--token-bsY-6rGTpghL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-bNUbemyWlTZM);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-mD_l6PIHlloA);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-MrcZ_uvnxK5e);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-jXTq4EPTEsh7);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-0R5nEIeVBceL);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-zxa-HQ-Oxfip);
  font-size: var(--token-E7rT-GMHmABw);
  column-gap: var(--token-3MHic-7UWClU);
  row-gap: 0px;
  border-radius: var(--token-h0SbzNDwnOj0);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-E7rT-GMHmABw);
  line-height: var(--token-zxa-HQ-Oxfip);
  column-gap: var(--token-h0SbzNDwnOj0);
  row-gap: 0px;
  border-radius: var(--token-h0SbzNDwnOj0);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-1C_FTEU2rpzj);
  line-height: var(--token-gHhrlo3FcUEF);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-1C_FTEU2rpzj);
  line-height: var(--token-gHhrlo3FcUEF);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-P2zjHegkYyQK);
  border-radius: var(--token-MpCEXUmL-CF-);
}
.softBackgroundcolor_neutral {
  background: var(--token-JIEFmxE9Rmdb);
}
.softBackgroundcolor_muted {
  background: var(--token-_XvVpRS_QjrH);
}
.softBackgroundcolor_success {
  background: var(--token-oBqBxEQtp_z5);
}
.softBackgroundcolor_warning {
  background: var(--token-i6MgSkQROtUI);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-cJUIA9f8lupe);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-MpCEXUmL-CF-);
  border: 0px solid var(--token-5Mk7-vw0HndW);
}
.bordercolor_neutral {
  border-color: var(--token-YlaElyaAs55X);
}
.bordercolor_muted {
  border-color: var(--token-E7wXoLBB3SIB);
}
.bordercolor_success {
  border-color: var(--token-gIvLLwIQi-jj);
}
.bordercolor_warning {
  border-color: var(--token-89XH7--lqMFo);
}
.bordercolor_errorDestructive {
  border-color: var(--token-BVhLXj953UiV);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-MpCEXUmL-CF-);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-wgzbisXAgKGV);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-VKr1LKjUke_d);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Z1L0hTHb7uIX);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___7Sau3 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-MpCEXUmL-CF-) var(--token-lS80GAr3eWbU);
}
.freeBox___7Sau3 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-MpCEXUmL-CF-));
  width: calc(100% + var(--token-MpCEXUmL-CF-));
}
.freeBox___7Sau3 > :global(.__wab_flex-container) > *,
.freeBox___7Sau3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Sau3 > :global(.__wab_flex-container) > picture > img,
.freeBox___7Sau3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-MpCEXUmL-CF-);
}
.freeBoxsize_extraSmall___7Sau3C5SYi {
  padding: var(--token-h0SbzNDwnOj0) var(--token-MpCEXUmL-CF-);
}
.freeBoxsize_small___7Sau30S8TV {
  padding: var(--token-MpCEXUmL-CF-) var(--token-_xXwNBtNYsLa);
}
.freeBoxsize_large___7Sau3QuElW {
  padding-top: var(--token-h0SbzNDwnOj0);
  padding-bottom: var(--token-h0SbzNDwnOj0);
}
.freeBoxsize_extraLarge___7Sau3HoCte {
  padding-left: var(--token-RViPuTQi5NtS);
  padding-right: var(--token-RViPuTQi5NtS);
}
.freeBoxroundedFull___7Sau3VoeQq {
  padding-right: var(--token-RViPuTQi5NtS);
  padding-left: var(--token-RViPuTQi5NtS);
}
.freeBox__n4Q7J {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__n4Q7JWj8UL {
  display: flex;
}
.slotTargetStart {
  color: var(--token-g-Tm6d3qePOS);
}
.slotTargetStartcolor_neutral {
  color: var(--token-CpWD1r6jte5n);
}
.slotTargetStartcolor_muted {
  color: var(--token-zMoIsTs_woNw);
}
.slotTargetStartcolor_success {
  color: var(--token-QW-J93WWkdig);
}
.slotTargetStartcolor_warning {
  color: var(--token-up5n2qfHvreT);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-cfT-3ZPzOwkF);
}
.slotTargetStarttype_soft {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetStarttype_bordered {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-E7rT-GMHmABw);
}
.slotTargetStartsize_small {
  font-size: var(--token-E7rT-GMHmABw);
}
.slotTargetStartsize_large {
  font-size: var(--token-1C_FTEU2rpzj);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-1C_FTEU2rpzj);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.svg___9Sl2L {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-g-Tm6d3qePOS);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-CpWD1r6jte5n);
}
.slotTargetLabelcolor_muted {
  color: var(--token-zMoIsTs_woNw);
}
.slotTargetLabelcolor_success {
  color: var(--token-QW-J93WWkdig);
}
.slotTargetLabelcolor_warning {
  color: var(--token-up5n2qfHvreT);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-cfT-3ZPzOwkF);
}
.slotTargetLabeltype_soft {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetLabeltype_bordered {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.text__uFxSz {
  white-space: pre;
}
.freeBox___3Fqho {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___3FqhoBxemO {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-g-Tm6d3qePOS);
}
.slotTargetEndcolor_neutral {
  color: var(--token-CpWD1r6jte5n);
}
.slotTargetEndcolor_muted {
  color: var(--token-zMoIsTs_woNw);
}
.slotTargetEndcolor_success {
  color: var(--token-QW-J93WWkdig);
}
.slotTargetEndcolor_warning {
  color: var(--token-up5n2qfHvreT);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-cfT-3ZPzOwkF);
}
.slotTargetEndtype_soft {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetEndtype_bordered {
  color: var(--token-muCRlkmmeVj-);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-E7rT-GMHmABw);
}
.slotTargetEndsize_small {
  font-size: var(--token-E7rT-GMHmABw);
}
.slotTargetEndsize_large {
  font-size: var(--token-1C_FTEU2rpzj);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-1C_FTEU2rpzj);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-BMhB5HdhsWdy);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-P6ylH3LMXvNX);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-GXjrC6pnp3pE);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-EPNzSpQr64XJ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-breOyUsAKB8B);
}
.svg__hid9N {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
